langchain==0.2.1
langchain-community==0.2.1
langchain-huggingface>=0.0.3
neo4j>=5.0
pypdf==4.2.0
PyMuPDF==1.24.5
unstructured==0.14.8
markdown==3.6
nltk==3.8.0
jq==1.7.0
pandas==2.1.4
docx2txt==0.8
ibm-watsonx-ai==1.1.2
langchain-ibm==0.1.11
sentence-transformers==3.0.1
chromadb==0.4.24
# torch
# transformers
# langchain
# langchain-community
# sentence-transformers
# faiss-cpu
# gradio
# accelerate
# bitsandbytes

